// $enable-shadows: true;
// $primary: #031745;
// $secondary: #82e4fb;

// $body-color: #f2f2f2;
// $body-bg: #333;

@import "./theme.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


.badge.badge-lg {
    font-size: 16px;
    font-weight: 600;
}


.map-outer-container {
    position: relative;
    height: calc(100vh - 120px);
    width: 100%;
    overflow: hidden;

    .map-container {
        width: 100%;
        height: 100%;
    }

    .spinner-border {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.mapboxgl-popup-content {
    color: #000;
}

// .detail-item {
//     @include media-breakpoint-down(sm) {
//         display: block !important;
//         width:  100% !important;
//     }
// }