// $enable-shadows: true;
// $primary: #031745;
// $secondary: #82e4fb;

// $body-color: #f2f2f2;
// $body-bg: #333;

@import "./theme.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


.badge.badge-lg {
    font-size: 16px;
    font-weight: 600;
}


.map-outer-container {
    position: relative;
    height: calc(100vh - 120px);
    width: 100%;
    overflow: hidden;

    .map-container {
        width: 100%;
        height: 100%;
    }

    .spinner-border {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.mapboxgl-popup-content {
    color: #000;
}

// .detail-item {
//     @include media-breakpoint-down(sm) {
//         display: block !important;
//         width:  100% !important;
//     }
// }


.navbar .nav-link {
    font-size: 0.9rem;


}

.block-row-list-container {
    position: relative;
    // height: 100vh;
    // overflow-y: auto;
}

table.block-row-list-table {
    position: relative;
    border-collapse: collapse;


    width: 100%;

    thead {


        tr {

            th {
                position: sticky;
                top: 0;
                background-color: rgb(40, 40, 40);


                font-weight: 200;
                font-size: 12px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #fff;
            }
        }
    }

    tbody {
        tr {

            vertical-align: middle;


            border-bottom: 1px solid rgba(255, 255, 255, .1);
            background-color: rgb(20, 20, 20);

            box-shadow: 0 0 3px 5px rgba(0, 0, 0, .3);

            transition: all .3s ease;

            cursor: pointer;

            &:hover {
                background-color: rgb(35, 35, 50);

            }


            td {

                div {

                    font-size: 16px;
                    font-weight: 300;
                }

                &:first-child {
                    div {
                        display: inline-block;
                        padding: 2px 4px;


                        font-weight: 500;
                        letter-spacing: 1px;
                        background-color: black;
                    }

                }
            }
        }
    }
}